.inbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  max-height: 545px;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.inbox-container::-webkit-scrollbar {
  display: none;
}

#archive-button {
  margin-top: 1em;
}

#inboxCalls {
  width: 26em;
  z-index: 0;
  margin-left: 1.1em;
}

#loading {
  margin-top: 2em;
}
