header {
  display: flex;
  height: 2em;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

header svg {
  display: block;
  height: 4em;
  margin-top: -1em;
  margin-left: 1.5em;
}

.links {
  text-decoration: none;
}

.link-group {
  display: flex;
  margin-left: 1em;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}